= f.text_field :title
= f.text_field :description
= f.number_field :price
= f.number_field :category_id
.navigation_multistep
  .prev.pull-left
    = link_to 'Cancel', :back, class: 'btn primary'
  .next.pull-right
    = link_to 'Next', '#', class: 'btn primary'
